{% extends "meteo_app/base.html" %}

{% block content %}
    <div class="container">
        <div class="row">
            <h1 class="display-6">Метеорологические данные</h1>
            <p><a class="btn btn-outline-success" href="{% url 'download-meteo-data' %}" role="button">Скачать</a></p>
            <div class="col-6">  
                <table class="table table-hover table-bordered">
                    <thead>
                      <tr>
                        <th scope="col">Данные</th>
                        <th scope="col">Аббревиатура</th>
                        <th scope="col">Значение</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Среднее значение температуры за 1 минуту, C</td>
                        <td>TA</td>
                        <td>{{data.TA }}</td>
                      </tr>
                      <tr>
                        <td>Точка росы, C</td>
                        <td>DP</td>
                        <td>{{data.DP}}</td>
                      </tr>
                      <tr>
                        <td>Пусто</td>
                        <td>WC</td>
                        <td>{{data.WC}}</td>
                      </tr>
                      <tr>
                        <td>Относительная влажность, %</td>
                        <td>RH</td>
                        <td>{{data.RH}}</td>
                      </tr>
                      <tr>
                        <td>Атмосферное давление, mm Hg</td>
                        <td>PA</td>
                        <td>{{data.PA}}</td>
                      </tr>
                      <tr>
                        <td>Количество жидких осадков мгновенное значение, мм</td>
                        <td>PR</td>
                        <td>{{data.PR}}</td>
                      </tr>
                      <tr>
                        <td>Количество жидких осадков сумма за 1 час, мм</td>
                        <td>PR1H</td>
                        <td>{{data.PR1H}}</td>
                      </tr>
                      <tr>
                        <td>Количество жидких осадков сумма за сутки, мм</td>
                        <td>PR24H</td>
                        <td>{{data.PR24H}}</td>
                      </tr>
                      <tr>
                        <td>Данные от CMP6 установленного параллельно относительно поверхности земли (Вт/м²) среднее значение за 1 минуту</td>
                        <td>SR_1M</td>
                        <td>{{data.SR_1M}}</td>
                      </tr>
                      <tr>
                        <td>Данные от CMP6 установленного параллельно относительно поверхности земли (Вт/м²) среднее значение за 24 часа</td>
                        <td>SR_1D</td>
                        <td>{{data.SR_1D}}</td>
                      </tr>
                        <td>Данные от CMP6 установленного 45 градусов относительно поверхности земли (Вт/м²) среднее значение за 1 минуту</td>
                        <td>SR_45_1M</td>
                        <td>{{data.SR_45_1M}}</td>
                      </tr>
                      <tr>
                        <td>Данные от CMP6 установленного 45 градусов относительно поверхности земли (Вт/м²) среднее значение за 24 часа</td>
                        <td>SR_45_1D</td>
                        <td>{{data.SR_45_1D}}</td>
                      </tr>
                      <tr>
                        <td>Данные от CMP6 установленного 45 градусов относительно поверхности земли (Вт/м²) суммарное значение за 1 час</td>
                        <td>SD_1H</td>
                        <td>{{data.SD_1H}}</td>
                      </tr>
                      <tr>
                        <td>Данные от CMP6 установленного 45 градусов относительно поверхности земли (Вт/м²) суммарное значение за 24 часа</td>
                        <td>SD_1D</td>
                        <td>{{data.SD_1D}}</td>
                      </tr>
                      <tr>
                        <td>Данные от CMP6 установленного 45 градусов относительно поверхности земли (Вт/м²) суммарное значение за 24 часа</td>
                        <td>SD_45_1D</td>
                        <td>{{data.SD_45_1D}}</td>
                      </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    
{% endblock %}