{% extends "meteo_app/base.html" %}



{% block content %}
<div class="container">
    <div class="col-12">
        <form class="row g-3" action="{% url 'meteo-data-graph' %}" method="get">
            <div class="col-auto">
              <input type="text" class="form-control" placeholder="Дата с:"name="date_from">
            </div>
            <div class="col-auto">
              <input type="text" class="form-control" placeholder="Дата по:" name="date_to" aria-describedby="dateInlineHelp">
            </div>
            <div class="col-auto">
                <input type="text" class="form-control" placeholder="Параметр" name="param" aria-describedby="paramInlineHelp"><br>
              </div>
            <div class="col-auto">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="1" name="seconds" id="flexCheckChecked" unchecked>
                <label class="form-check-label" for="flexCheckChecked">
                  Отобразить посекундно
                </label>
              </div>
            </div>
            <div class="col-auto">
              <button type="submit" class="btn btn-outline-secondary mb-3">Построить график</button>
            </div>
            <div id="dateInlineHelp" class="form-text">Введите дату в формате "ГГГГ-ММ-ДД". Для поиска по времени введите дату и время в формате "ГГГГ-ММ-ДД ЧЧ:ММ"</div>
            <div id="paramInlineHelp" class="form-text">Введите параметр из таблицы</div>
        </form>
        <br>
        <p>
            <a class="btn btn-outline-secondary" href="{% url 'meteo-data' %}"role="button">Вернуться </a>
        </p>
        {% if graph %}
          {% load static %}
          <img src="{% static 'meteo_app/graph.png' %}" alt="my_image" />
        {% endif %}
    </div>
</div>
{% endblock %}